<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xavier.pms.dao.ApprovalGroupMapper">

    <resultMap id="BaseResultMap" type="com.xavier.pms.vo.ApprovalGroupVo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="group_name" jdbcType="VARCHAR" property="groupName" />
        <collection property="approvalList" ofType="com.xavier.pms.vo.ApprovalVo">
            <id column="approval_id" jdbcType="BIGINT" property="id" />
            <result column="approval_name" jdbcType="VARCHAR" property="approvalName" />
            <result column="submit_type" jdbcType="TINYINT" property="submitType" />
            <result column="icon" jdbcType="VARCHAR" property="icon" />
            <result column="app_status" jdbcType="TINYINT" property="appStatus" />
            <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        </collection>
    </resultMap>

    <select id="queryApprovalGroup" resultMap="BaseResultMap">
        SELECT
            tb_approval_group.id,
            tb_approval_group.group_name,
            tb_approval.id approval_id,
            tb_approval.approval_name,
            tb_approval.submit_type,
            tb_approval.icon,
            tb_approval.app_status,
            tb_approval.remarks
        FROM
            tb_approval_group
        LEFT JOIN
            tb_approval ON tb_approval.approval_group_id = tb_approval_group.id
        AND tb_approval.is_deleted = 0
        WHERE
            tb_approval_group.is_deleted = 0
        <if test="dto.keyword != null and dto.keyword != ''">
        AND tb_approval_group.group_name LIKE CONCAT('%', #{dto.keyword}, '%')
        OR  tb_approval.approval_name LIKE CONCAT('%', #{dto.keyword}, '%')
        </if>
        ORDER BY
            tb_approval_group.sort_number,
            tb_approval.sort_number
    </select>


</mapper>
