<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xavier.pms.dao.AuditFormMapper">

    <select id="queryAuditForm" resultType="com.xavier.pms.model.AuditForm">
        SELECT
            tb_audit_form.id,
            tb_audit_form.user_id,
            tb_audit_form.nick_name,
            tb_audit_form.create_time,
            tb_audit_form.approval_name,
            tb_audit_form.audit_status
        FROM
            tb_audit_form_flow_detail
        INNER JOIN
            tb_audit_form_flow ON tb_audit_form_flow_detail.audit_form_flow_id = tb_audit_form_flow.id
        INNER JOIN
            tb_audit_form ON tb_audit_form_flow.audit_form_id = tb_audit_form.id
        WHERE
            tb_audit_form_flow.is_deleted = 0
        AND tb_audit_form_flow_detail.is_deleted = 0
        AND tb_audit_form_flow_detail.user_id = #{dto.userId, jdbcType=BIGINT}
        <if test="dto.auditStatus != null">
        AND tb_audit_form_flow_detail.audit_status = #{dto.auditStatus, jdbcType=TINYINT}
        </if>
        <if test="dto.auditStatusList != null and dto.auditStatusList.size() > 0">
        <foreach collection="dto.auditStatusList" open="AND tb_audit_form_flow_detail.audit_status IN (" close=")" separator="," item="item">
            #{item, jdbcType=TINYINT}
        </foreach>
        </if>
        <foreach collection="dto.approvalTypeList" open="AND tb_audit_form_flow_detail.approval_type IN (" close=")" separator="," item="item">
            #{item, jdbcType=VARCHAR}
        </foreach>
        ORDER BY
            tb_audit_form.id DESC
    </select>


</mapper>
