<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xavier.pms.dao.DepartmentMapper">

    <select id="queryDepartment" resultType="com.xavier.pms.vo.DepartmentVo">
        SELECT
            tb_department.*,
            tb_user.nick_name
        FROM
            tb_department
        LEFT JOIN
            tb_user ON tb_department.user_id = tb_user.id
        AND tb_user.is_deleted = 0
        WHERE
            tb_department.is_deleted = 0
        <if test="dto.deptName != null and dto.deptName != ''">
        AND tb_department.dept_name LIKE CONCAT('%', #{dto.deptName}, '%')
        </if>
        ORDER BY
            tb_department.id DESC
    </select>


</mapper>
