<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xavier.pms.dao.UserMapper">


    <select id="getByToken" resultType="com.xavier.pms.model.User">
        SELECT
            tb_user.id,
            tb_user.employee_number,
            tb_user.nick_name,
            tb_user.user_pwd,
            tb_user.mobile,
            tb_user.email,
            tb_user_token.expiration_time,
            tb_user.is_admin
        FROM
            tb_user_token
        INNER JOIN
            tb_user ON tb_user_token.user_id = tb_user.id
        WHERE
            tb_user.is_deleted = 0
        AND tb_user_token.is_deleted = 0
        AND tb_user_token.token = #{token, jdbcType=VARCHAR}
    </select>

    <select id="getMaxEmployeeNumber" resultType="string">
        SELECT
            max( tb_user.employee_number )
        FROM
            tb_user
    </select>

    <select id="queryEmployee" resultType="com.xavier.pms.vo.EmployeeListVo">
        SELECT
            tb_user.*,
            tb_post.post_name,
            tb_professional_title.title_name,
            tb_department.dept_name
        FROM
            tb_user
        LEFT JOIN
            tb_post ON tb_user.post_id = tb_post.id
        AND tb_post.is_deleted = 0
        LEFT JOIN
            tb_professional_title ON tb_user.professional_title_id = tb_professional_title.id
        AND tb_professional_title.is_deleted = 0
        LEFT JOIN
            tb_department ON tb_user.department_id = tb_department.id
        AND tb_department.is_deleted = 0
        WHERE
            tb_user.is_deleted = 0
        AND tb_user.is_admin = 0
        <if test="dto.departmentId != null">
        AND (
            tb_department.full_id LIKE CONCAT('%-', #{dto.departmentId})
        OR  tb_department.full_id LIKE CONCAT('%-', #{dto.departmentId}, '-%')
        )
        </if>
        <if test="dto.employeeNumber != null and dto.employeeNumber != ''">
        AND tb_user.employee_number = #{dto.employeeNumber, jdbcType=VARCHAR}
        </if>
        <if test="dto.nickName != null and dto.nickName != ''">
        AND tb_user.nick_name LIKE CONCAT('%', #{dto.nickName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="dto.mobile != null and dto.mobile != ''">
        AND tb_user.nick_name LIKE CONCAT('%', #{dto.mobile, jdbcType=VARCHAR}, '%')
        </if>
        <if test="dto.email != null and dto.email != ''">
        AND tb_user.nick_name LIKE CONCAT('%', #{dto.email, jdbcType=VARCHAR}, '%')
        </if>
        ORDER BY
            tb_user.id DESC
    </select>


</mapper>
